#docker compose -f docker-compose.yml -f docker-compose.test.yml up --build
version: "3.9"

services:
  db:
    env_file:
      - .env.test
    # test 환경은 보통 호스트 포트 충돌 피하려고 5433 같은 걸 씀 (선택)
    ports:
      - "5433:5432"
    # test는 데이터 영속화가 필요 없으면 tmpfs 사용 가능 (선택)
    # tmpfs:
    #   - /var/lib/postgresql/data

  patient_api:
    env_file:
      - .env.test
    environment:
      APP_ENV: test

  admin_api:
    env_file:
      - .env.test
    environment:
      APP_ENV: test

  gateway:
    env_file:
      - .env.test
    environment:
      APP_ENV: test